{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Ваш заголовок и другие мета-данные -->

    <!-- Включение токена CSRF -->
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Имя cookie совпадает с именем CSRF-токена, как правило, 'csrftoken'
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>
</head>
<body>
    <h2>{{ task.task_name }}</h2> <!-- Вставка имени задачи -->

    <p>{{ task.description }}</p> <!-- Вставка описания задачи -->

    <form id="task-form" method="POST">
        {% csrf_token %}
        <!-- Ваши поля формы здесь -->
        <p><textarea name="task_data"></textarea></p>
        <button type="submit" id="submit-button">Отправить</button>
    </form>

    <div id="result-container"></div>

    <!-- Подключение библиотеки jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Ваш собственный скрипт -->
    <script>
        function getResult(taskId) {
            var _url = "{% url 'tasks:get_result' 0 %}".replace('0', taskId);
            $.ajax({
                type: 'GET',
                url: _url, 
                success: function(response) {
                    // Обработка ответа
                    console.log(response.message);
                    $('#result-container').text(response.message);
                },
                error: function(error) {
                    // Обработка ошибки
                    console.log('Произошла ошибка: ' + error);
                    $('#result-container').text('Произошла ошибка (get): ' + error);
                }
            });
        }

        $(document).ready(function() {
            $('#task-form').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();

                // Добавление токена CSRF к AJAX-запросу
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: "{% url 'tasks:submit' task.id %}",
                    data: formData,
                    success: function(response) {
                        var processId = response.process_id;
                        console.log(processId);
                        getResult(processId);
                    },
                    error: function(error) {
                        console.log('Произошла ошибка: ' + error);
                        $('#result-container').text('Произошла ошибка (post): ' + error);
                    }
                });
            });
        });
    </script>
</body>
</html>
